<div>
  <h2 class="title">Sobre quem desenvolveu</h2>
</div>

<div class="container border text-start">
  <div class="card-body">
    <div class="row align-items-center">
      <div class="col-md-9">
        <h3 class="title">Oi, meu nome é <strong>Anita</strong>! </h3>
        <p>Tenho 26 anos, me formei em Ciências Contábeis, estive nessa área por 7 anos e hoje 
        estou em transição de carreira. Me encontrei como desenvolvedora e estou buscando oportunidades 
        para adquirir mais conhecimento e experiências.</p>

        <p>Criei esse projeto para juntar alguns conhecimentos que adquiri até agora, exercitar boas 
        práticas de código e testes.</p>

        <p>Nesse projeto coloquei como objetivos principais: </p>
        <ul>
          <li> utilizar <strong>Docker</strong>;</li>
          <li> desenvolver em <strong>Ruby on Rails com TDD</strong>;</li>
          <li> ter <strong>alta cobertura</strong> de testes;</li>
          <li> utilizar o <strong>PostgreSQL</strong>;</li>
          <li> aplicar <strong>Bootstrap</strong>;</li>
          <li> consumir uma <strong>API</strong>.</li>
        </ul>
      </div>
      <div class="col-md-3 mb-4">
        <img src="/assets/eu.jpg" class="card-img" alt="Capa - Paisagem">
      </div>
    </div>
  </div>
</div>

<div class="container border">
  <h4>Outros Projetos: </h4>
  <div class="container text-center">
    <div class="row align-items-center">
      <div class="col">
        <a href="https://github.com/TreinaDev/insurance-app" class="link">
          <div class="card-small">
            <img src="/assets/insurance.png" class="card-img-small" alt="TreinaDev - Insurance" width="240" height="120">
            TreinaDev
          </div>
        </a>
      </div>
      <div class="col">
        <a href="https://github.com/AnitaLuri/sistema-de-frete" class="link">
          <div class="card-small">
            <img src="/assets/frete.png" class="card-img-small" alt="TreinaDev - Sistema de Frete" width="240" height="120">
            Sistema de Frete
          </div>
        </a>
      </div>
      <div class="col">
        <a href="https://github.com/AnitaLuri/convert" class="link">
          <div class="card-small">
            <img src="/assets/convert.png" class="card-img-small" alt="Alura - Conversor" width="240" height="120">
            Conversor
          </div>
        </a>
      </div>
      <div class="col">
        <a href="https://github.com/AnitaLuri/ranking-alura" class="link">
          <div class="card-small">
            <img src="/assets/ranking.png" class="card-img-small" alt="Alura - Ranking" width="240" height="120">
            Ranking
          </div>
        </a>
      </div>
    </div>
  </div>
</div>