@import 'bootstrap';

.body {
  font-family: 'Poppins', sans-serif;
  background-color: rgba(180, 203, 193, 0.25);
}

.navbar {
  background-color: rgba(60, 73, 65, 1);
}

.navbar-brand {
  color: white;
  margin-right: 80px;
}

.nav-item {
  margin: 0 25px;
}

.nav-link {
  color: white;
  opacity: 75%;
}

.feed {
  margin: 5px;
  padding: 5px;
  border: 1px;
  border-color: rgba(211, 205, 189, 1);
  border-style: solid;
  border-radius: 3px;
}

.card-img {
  border-radius: 3px;
  max-height: 200px;
}