@import 'bootstrap';

.body {
  font-family: 'Poppins', sans-serif;
  background-color: rgba(180, 203, 193, 0.25);
}

.navbar {
  background-color: rgba(60, 73, 65, 1);
}

.navbar-brand {
  color: white;
  margin-right: 80px;
}

.nav-item {
  margin: 0 25px;
}

.nav-link {
  color: white;
  opacity: 75%;
}

.border {
  margin: 10px 5px 10px 5px;
  padding: 5px;
  border: 1px;
  border-color: rgba(211, 205, 189, 1);
  border-style: solid;
  border-radius: 3px;
}

.card {
  margin: 5px;
}

.card-img {
  border-radius: 3px;
}

.card-img-m {
  border: 3px solid #fff;
  border-radius: 3px;
}

.card-img-small {
  border-radius: 3px;
  max-height: 200px;
}

.title {
  margin: 1.5rem;
}

.link {
  color: rgba(60, 73, 65, 1);
  text-decoration: none;
}

.form {
  margin: 2rem;
  color: rgba(60, 73, 65, 1);
}

.form-input {
  border-color: rgba(138, 150, 76, 1);
  border-style: solid;
  border-radius: 3px;
}

.button {
  color: white;
  padding: 1px 6px;
  text-decoration: none;
  background-color: rgba(60, 73, 65, 1);
  border-color: rgba(138, 150, 76, 1);
  border-style: solid;
  border-radius: 3px;
}