@import "bootstrap";

.body {
  font-family: 'Poppins', sans-serif;
  background-color: rgba(180, 203, 193, 0.25);
}

.navbar {
  background-color: rgba(60, 73, 65, 1);
  color: white;
}

.navbar-brand {
  color: white;
}

.capa {
  max-width: 100%;
  margin-top: 15px;
}
