<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <%= link_to 'Diário de Viagem', root_path, class: 'navbar-brand' %>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <%= link_to 'Viagens', root_path, class: 'nav-link' %> 
        </li> 
        <li class="nav-item">            
          <%= link_to 'Loja', root_path, class: 'nav-link' %> 
        </li> 
        <li class="nav-item">
          <%= link_to 'Sobre', root_path, class: 'nav-link' %> 
        </li>
      </ul>
    </div>
  </div>
</nav>